{% extends "base.html" %}
{% block contenido %}

<div class="card" style="width: 25rem;">
    <h2>{{ product.name }}</h2>

    {% if product.image %}
    <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
    {% endif %}

<div class="card-body">
    <p><strong>Marca:</strong> {{ product.brand }}</p> 
    <p><strong>Cantidad:</strong> {{ product.quantity }}</p>
    <p><strong>Calorias:</strong> {{ product.calories }}</p>
    <p><strong>Grasas:</strong> {{ product.fat }}</p>
    <a href="{{url_for('index') }}" class="btn btn-primary">Volver a inicio</a>
</div>
</div>
{% endblock %}